@font-face {
    font-family: Norse;
    src: url(./assets/Norse-Bold.otf);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.15;
    font-family: Tahoma, system-ui;
    --green-color: #596d48;
}
.logo {
    display: flex;
    width: 36vw;
    height: 20vh;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: Norse, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    margin: 20vh 0;
}

#odin-logo {
    max-height: 20vh;
    z-index: 1;
}

.sign-up-form {
    display: flex;
    width: 100%;
    background-image: url(./assets/leafpic.jpg);
    background-size: contain;
    height: 100vh;
}

.form {
    width: 65vw;
    background: gainsboro;
}

fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 32vh;
    align-items: flex-start;
    justify-content: end;
    background-color: white;
    border: none;
    box-shadow: 0px 4px 4px gray;
    font-size: 0.7rem;
    padding-left: 3vw;
}

input {
    width: 30%;
    margin-bottom: 1.7rem;
    border: 1px solid #e5e7eb
}

input:focus {
    border: 1px solid blue;
    border-radius: 2px;
}

input:valid {
    border: 1px solid green;
    border-radius: 2px;
}

input[type="password"]:invalid {
    border: 1px solid red;
    border-radius: 2px;
}

legend {
    float: left;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}

.intro {
    margin-top: 7rem;
}

p {
    max-width: 60ch;
    font-weight: 600;
    padding-left: 3vw;
    margin: 1rem 0 2rem;
}

.log-in {
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

a:link {
    text-decoration: none;
    color: var(--green-color);
    font-weight: bold;
}

button {
    background-color: var(--green-color);
    color: white;
    border-radius: 0.5rem;
    padding: .5rem 1rem;
    border: none;
    box-shadow: 0px 2px 4px gray;
    font-size: 0.7rem;
    margin: 1.5vw 3vw;
}